<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>com.test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  
  <context-param>
<param-name>jdbc.driver</param-name>
<param-value>oracle.jdbc.OracleDriver</param-value>
</context-param>

<context-param>
<param-name>jdbc.url</param-name>
<param-value>jdbc:oracle:oci8:@ocean</param-value>
</context-param>

<context-param>
<param-name>user</param-name>
<param-value>ywang307</param-value>
</context-param>

<context-param>
<param-name>pw</param-name>
<param-value>YCsBUo3...uK3Y</param-value>
</context-param>
  
  
  
  
</web-app>